# GHCR Images (Owner/Repo anpassen)
GHCR_IMAGE_APP=ghcr.io/hendrikmrks/klick-and-zeugnis.de-app
GHCR_IMAGE_DB_INIT=ghcr.io/hendrikmrks/klick-and-zeugnis.de-db-init

# Wird beim Deploy von GitHub Actions gesetzt
IMAGE_TAG=prod

# Pflicht
NEXTAUTH_SECRET=ersetze-mich-mit-einem-langen-zufaelligen-prod-secret

# Optional
OPENAI_API_KEY=
RUN_DB_SEED=false
FORCE_SEED_RESET=false
