# GHCR Images
GHCR_IMAGE_APP=ghcr.io/hendrikmrks/klick-and-zeugnis.de-app
GHCR_IMAGE_DB_INIT=ghcr.io/hendrikmrks/klick-and-zeugnis.de-db-init

IMAGE_TAG=test
NEXTAUTH_SECRET=ersetze-mich-mit-einem-langen-zufaelligen-test-secret
OPENAI_API_KEY=

# Bei jedem Deploy: DB zurücksetzen und Admin seeden
RUN_DB_SEED=true
FORCE_SEED_RESET=true
SEED_ADMIN_EMAIL=mail@hendrik-beier.de
SEED_ADMIN_PASSWORD=12092025
